<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-icon style="font-size: 25px;margin-left:10px" name="close" (click)="closeModal();"></ion-icon>
      </ion-buttons>
      <ion-title>
        Añadir
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-input placeholder="comida" type="text" [(ngModel)]="comida"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input placeholder="precio" type="number" [(ngModel)]="precio"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" (click)="anadir();" >Añadir</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  