<ion-header>
    <ion-toolbar>
        <ion-buttons style="margin-bottom: 5px" slot="start">
            <ion-icon style="font-size: 25px;margin-left:10px" name="arrow-back" button [routerLink]="['/home']"></ion-icon>
        </ion-buttons>
        <ion-title id="titulo">
          Ranking
        </ion-title>
        <div *ngIf="!usuarioService.logged" id="logIn" (click)="abrirLogin()">
          <ion-icon style="font-size: 25px; margin-left: 27px;" name="log-in"></ion-icon>
          <p style="font-size: 12px; margin: 0px; padding: 0px;"><b>Iniciar Sesión</b></p>
        </div>
        <div *ngIf="usuarioService.logged" id="logIn" (click)="cerrarSesion()">
          <ion-icon style="font-size: 25px; margin-left: 27px;" name="log-out"></ion-icon>
          <p style="font-size: 12px; margin: 0px; padding: 0px;"><b>Cerrar Sesión</b></p>
        </div>
      </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col>
                <p class="title" style="font-size: 22px; margin: 0px; " ><b>Puesto</b></p>
                <br>
                <div *ngFor="let item of usuarios;let i=index">
                    <p class="text">{{i+1}}</p>
                </div>
              </ion-col>
          <ion-col>
              <p class="title" style="font-size: 22px; margin: 0px; " ><b>Usuario</b></p>
              <br>
              <div *ngFor="let item of usuarios">
                  <p class="text">{{ item.username }}</p>
              </div>
            </ion-col>
  
        <ion-col>
            <p class="title" style="font-size: 22px; margin: 0px; "><b>Puntos</b></p>
            <br>
      <div *ngFor="let item of usuarios">
          <p class="text">{{ item.dinero }} €</p>
      </div>
    </ion-col>
    </ion-row>
    </ion-grid>

</ion-content>
