#titulo{
    float: left;
    font-size: 25px;
    padding-top: 5px;
  }

  #logIn {
    float: right;
    padding-right: 15px;
  }
  .text{
    text-align: center;
    font-weight: bold;
  }
  .title{
    text-align: center;
    font-weight: bold;
    background-color: #39CCCC;
    color:black;
    padding-left: 2%;
    border-radius: 5px;
  }