<ion-header>
  <ion-toolbar>
    <ion-buttons style="margin-bottom: 5px" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title id="titulo">
      UniMeal
    </ion-title>
    <div *ngIf="!usuarioService.logged" id="logIn" (click)="abrirLogin()">
      <ion-icon style="font-size: 25px; margin-left: 27px;" name="log-in"></ion-icon>
      <p style="font-size: 12px; margin: 0px; padding: 0px;"><b>Iniciar Sesión</b></p>
    </div>
    <div *ngIf="usuarioService.logged" id="logIn" (click)="cerrarSesion()">
      <ion-icon style="font-size: 25px; margin-left: 27px;" name="log-out"></ion-icon>
      <p style="font-size: 12px; margin: 0px; padding: 0px;"><b>Cerrar Sesión</b></p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row align-items-center>
      <ion-col size="6" [routerLink]="['/menu-comida']">
          <ion-icon style="font-size: 100px;text-align: center;" name="restaurant"></ion-icon>
          <p class="title">Menú</p>
      </ion-col>
      <ion-col size="6" [routerLink]="['/carta']">
          <ion-icon style="font-size: 100px;text-align: center;" name="list-box"></ion-icon>
          <p class="title">Carta</p>
      </ion-col>
    </ion-row>
    <ion-row align-items-center *ngIf="usuarioService.tipo=='comun' && usuarioService.logged">
      <ion-col size="6" >
          <ion-icon style="font-size: 100px;text-align: center;" name="cash"></ion-icon>
          <p class="title">Bonos</p>
      </ion-col>
      <ion-col size="6"[routerLink]="['/pedidosadmin']">
          <ion-icon style="font-size: 100px;text-align: center;" name="basket"></ion-icon>
          <p class="title">Pedidos</p>
      </ion-col>
    </ion-row>
    <ion-row align-items-center *ngIf="usuarioService.tipo=='admin' && usuarioService.logged">
      <ion-col size="6" >
          <ion-icon style="font-size: 100px;text-align: center;" name="cash"></ion-icon>
          <p class="title">Bonos</p>
      </ion-col>
      <ion-col size="6"[routerLink]="['/pedidosusuario']">
          <ion-icon style="font-size: 100px;text-align: center;" name="basket"></ion-icon>
          <p class="title">Pedidos</p>
      </ion-col>
    </ion-row>
    <ion-row align-items-center *ngIf="usuarioService.tipo=='admin' && usuarioService.logged || usuarioService.tipo=='trabajador' && usuarioService.logged">
      <ion-col size="6" >
          <ion-icon style="font-size: 100px;text-align: center;" name="card"></ion-icon>
          <p class="title">Canjear Pedidos</p>
      </ion-col>
      <ion-col size="6" *ngIf="usuarioService.tipo=='admin' && usuarioService.logged || usuarioService.tipo=='comun' && usuarioService.logged"  [routerLink]="['/perfil']">
        <ion-icon style="font-size: 100px;text-align: center;" name="contact"></ion-icon>
        <p class="title">Perfil</p>
    </ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col size="6" [routerLink]="['/ranking']">
        <ion-icon style="font-size: 100px;text-align: center;" name="trophy"></ion-icon>
        <p class="title">Ranking</p>
    </ion-col>
      <ion-col size="6" [routerLink]="['/acerca-de']">
          <ion-icon style="font-size: 100px;text-align: center;" name="information-circle"></ion-icon>
          <p class="title">Acerca de</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
